<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.tranning.tranningdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdapterViewFlipperActivity" />
        <activity android:name=".ArrayAdapterActivity" />
        <activity android:name=".AutoCompleteTextView" />
        <activity android:name=".BaseAdapterActivity" />
        <activity android:name=".ExpandableListAdapterActivity" />
        <activity android:name=".GridViewActivity" />
        <activity android:name=".ListActivityDemo" />
        <activity android:name=".SimpleAdapterActivity" />
        <activity android:name=".SimpleListViewActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".StackViewActivity" />
        <activity android:name=".MovieActivity" />
        <activity android:name=".MovieDetailActivity"></activity>
    </application>

</manifest>